/* 
.navbar{
    display: flex;
  
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    gap: 40px;

}
nav{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    list-style: none;
    
}
a{
    text-decoration: none;
}
@media (max-width:600px){
    .navbar{
        flex-direction: column;
    }
    nav{
        flex-direction:column ;
    }
} */
/* @media (max-width:600px){
    .container{
        flex-direction: column;
    }
} */
.container{
    display: grid;
    background-color: lightskyblue;
    grid-template-areas: 
    "header header"
    "menu content"
    "footer footer";
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 2fr 2fr 2fr;
    padding: 5px;
    gap: 3px;
}
.container div{
    background-color: lightcyan;
    
}
.container div.header{
    grid-area: header;
    text-align: center;
    padding: 20px;
}

.container div.menu{
    grid-area: menu;
    text-align: center;
    padding: 20px;
}

.container div.content{
    grid-area: content;
    text-align: center;
    padding: 20px;

}

.container div.footer{
    grid-area: footer;
    text-align: center;
    padding: 20px;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}