.container{
    
    display: grid;
    background-color: rgb(201, 209, 255);
    padding: 8px;
    grid-template-areas: 
    "sidebar header"
    "sidebar content"
    "footer footer";
    gap: 8px;
    grid-template-rows: 1fr auto auto;
    grid-template-columns: 1fr 5fr ;
}
.container div{
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}
.container div.header{
    grid-area: header;
}
.container div.sidebar{
    grid-area: sidebar;
    
}
.container div.content{
    grid-area: content;
}
.container div.footer{
    grid-area: footer;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.sidebar{
    display: flex;
}
.navitem{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap:5px;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
}
.status{
    display: flex;
    flex-direction: column;

}
.card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    
}
.card div{
    flex: 1;
    padding: 10px;
    text-align: center;
}

