<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
</head>
<body>
    <header>
        <div style="display: flex;justify-content:space-between;">
            <div>logo</div>
            <nav style="display: flex; text-align: center; gap: 20px; list-style: none;">
                <li><a href="#Home" style="text-decoration: none;">Home</a></li>
                <li><a href="#About" style="text-decoration: none;">About</a></li>
                <li><a href="#Contact" style="text-decoration: none;">Contact</a></li>
            </nav>

        </div>
    </header>
    <br>
    <hr>
    <main>
        <section id="Home" >
            <div >
                <h2>Transforming Businesses with Future-Ready AI Solutions</h2>
            </div>
            <p >Step into the AI-powered future with our AI software development services. We help you build next-gen solutions that boost productivity and unlock valuable business insights.</p>
            <div >
                <button>Talk to Our AI Expert</button>
                <button>Explore Our Case Studies</button>

            </div>
        </section>
    </main>
    <br>
    <hr>
    <aside>
        <h3>Sidebar</h3>
        <li><a href="#link1">Link1</a></li>
        <li><a href="#link2">Link1</a></li>
        <li><a href="#link3">Link1</a></li>
        <li><a href="#link4">Link1</a></li>
    </aside>
    <hr>
    <footer>
        <section id="Contact">
            <h4>Contact Us:</h4>
            <li><a href="mailto:abc@gmail.com">abc@gmail.com</a></li>
            <li>+91 99999 66666</li>
        </section>
        <h4>Thank you For Visitng Us</h4>

    </footer>
    
</body>
</html>