    .Heading{
        margin: 10px;
        padding: 10px;
    }
    #title{
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-decoration: underline;
    }
    h1{
        color: red;
    }
    #h2{
        color: rgb(151, 151, 25);
    }
    h3{
        color: brown;
    }
    h4{
        color: blue;
    }
    h5{
        color: green;
    }
    h6{
        color: purple;
    }
    #p1{
        font-size: 20px;
        font-weight: 600;
        font-family: 'Courier New', Courier, monospace;
        line-height: 1.5;
    }
    #p2{
        font-size: 15px;
        font-weight: 900;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: grey;
    }
    #p3{
        font-size: 25px;
        font-weight: 300;
        line-height: 2;
        color: brown;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
   
